@import "../component/carousel";

@include yo-carousel(

){
  height: 100%;
  
  ul.cont {
    height: 100%;
    li {
      height: 100%;
      img {
        height: 100%;
        margin-top:-0.44rem;
      }
    }
  }
};

.m-board {
  div.swiper {
    height: 1.9rem;
    background: #f9efd4;
    touch-action: none;
  }
  > ul {
    height: 1.87rem;
    margin: .2rem 0;
    padding: .1rem;
    background: #fff;
  }
}
